<xf:title>{{ phrase('tl_thread_resource.inline_moderation_convert_threads_to_resources') }}</xf:title>

<xf:form action="{{ link('inline-mod') }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:inforow rowtype="confirm">{{ phrase('tl_thread_resource.you_sure_you_want_to_convert_x_threads', {'count': $total}) }}</xf:inforow>

            <xf:macro template="tl_thread_resource_convert"
                      name="convert_fields"
                      arg-categoryTree="{$categoryTree}" />
        </div>

        <xf:submitrow icon="save" submit="{{ phrase('tl_thread_resource.convert...') }}" />
    </div>

    <xf:foreach loop="$threads" value="$thread">
        <xf:hiddenval name="ids[]">{$thread.thread_id}</xf:hiddenval>
    </xf:foreach>

    <xf:hiddenval name="type">thread</xf:hiddenval>
    <xf:hiddenval name="action">tr_convertToResources</xf:hiddenval>
    <xf:hiddenval name="confirmed">1</xf:hiddenval>

    <xf:redirect url="{$redirect}" />
</xf:form>